@import "tailwindcss";

body {
    @apply bg-gray-100 text-gray-900;
}
button {
    cursor: pointer;
}
/* Header Animation  */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out;
}
